<!DOCTYPE html>
<html>
<head>
    <title>AI Job Tracker</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🚀 AI Job Tracker</h1>

    <p>
        Track your job applications, upload resumes,
        and manage interview progress.
    </p>

    <div class="buttons">

        <a href="/login">
            <button>Login</button>
        </a>

        <a href="/register">
            <button>Register</button>
        </a>

        <a href="/dashboard">
            <button>Dashboard</button>
        </a>

    </div>

</div>

</body>
</html>